<!-- nombre del sistema -->
<div>
    <div>
        <label for="inputEmail3" class="fw-bold text-start">Nombre del sistema productivo</label>
    </div>

    <div>
        <input type="text" class="form-control" id="" name="nameSystem">
    </div>
</div>
<!-- Localización del sistema -->
<div>
    <div>
        <label for="inputEmail3" class=" fw-bold text-start">País:</label>
        <input type="text" class="form-control" id="" name="country">
    </div>

    <div>
        <label for="inputEmail3" class=" fw-bold text-start">Departamento:</label>
        <input type="text" class="form-control" id="" name="departament">
    </div>

    <div class="m-3">
        <label class="fw-bold text-start">Lon:</label>
        <input type="text" class="" id="" name="lon">

        <label class="fw-bold text-start">Lat:</label>
        <input type="text" class="" id="" name="lat">
    </div>

</div>
<!-- Description -->
<div class="m-3">
    <div class="">
        <label for="floatingTextarea" class="fw-bold mb-2 ">Descripción del sistema productivo:</label>
        <textarea class="form-control" placeholder="" id="floatingTextarea" style="height: 100px" name="descript"></textarea>

    </div>
</div>