<form action="">

    <!-- nombre del sistema -->
    <div>
        <div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre del sistema productivo</label>
        </div>

        <div>
            <input type="text" class="form-control" id="">
        </div>
    </div>
    <!-- Localización del sistema -->
    <div>
        <div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">País:</label>
            <input type="text" class="form-control" id="">
        </div>

        <div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Departamento:</label>
            <input type="text" class="form-control" id="">
        </div>

        <div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Lon:</label>
            <input type="text" class="form-control" id="">

            <label for="inputEmail3" class="col-sm-2 col-form-label">Lat:</label>
            <input type="text" class="form-control" id="">
        </div>

    </div>
    <!-- Description -->
    <div class="form-floating">
        <label for="floatingTextarea">Descripción del sistema productivo</label>
        <textarea class="form-control" placeholder="" id="floatingTextarea" style="height: 100px"></textarea>

    </div>


</form>