<form action="">
    <!-- fecha del egreso -->
    <div>
        <div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Fecha de egreso</label>
        </div>
        <div>
            <input type="date" class="form-control" id="">
        </div>

    </div>

    <!-- Tipo de egreso -->
    <div>
        <label for="input" class="col-sm-2 col-form-label">Tipo de egreso</label>
        <select class="form-select" aria-label="Default select">
            <option selected="">Seleccione una opción</option>
            <option value="">Amortizacione</option>
            <option value="">Combustible y lubricante</option>
            <option value="">Comunicacion</option>
            <option value="">Contratación de servicio</option>
            <option value="">Depreciaciones</option>
            <option value="">Dotación</option>
            <option value="">Elementos de aseo y cafeteria</option>
            <option value="">Gastos legales</option>
            <option value="">Impresos, publicaciones,suscripciones</option>
            <option value="">Impuestos</option>
            <option value="">Mantenimientos</option>
            <option value="">Otros gastos financieros</option>
            <option value="">Otros gastos generales</option>
            <option value="">Papeleria y oficina</option>
            <option value="">Seguros</option>
            <option value="">Serviios públicos</option>
            <option value="">Software</option>
            <option value="">Transporte</option>
            <option value="">Viticos y gastos de viaje</option>
            <option value="">Vigilancia y seguridad</option>
        </select>
    </div>

    <!-- valor -->
    <div>
        <label for="">Valor($):</label>
        <input class="form-control" type="number">
    </div>

    <!-- Cantidad -->
    <div>
        <label for="">Cantidad:</label>
        <input class="form-control" type="number">
    </div>

    <!-- Unidades de medida -->

    <div>
        <label for="">Unidad de medida:</label>
        <select class="form-select" aria-label="Default select">
            <option selected="">Selecione una medida</option>
            <option value="">Unidades</option>
            <option value="">Toneladas</option>
            <option value="">Kilogramos</option>
            <option value="">Gramos</option>
            <option value="">Miligramos</option>
            <option value="">Galones</option>
            <option value="">Litros</option>
            <option value="">Mililitros</option>
            <option value="">Metros</option>
            <option value="">Unidades</option>
       </select>
    </div>
    <!-- Description -->
    <div class="form-floating">
        <label for="floatingTextarea">Descripción:</label>
        <textarea class="form-control" placeholder="" id="floatingTextarea" style="height: 100px"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>