<form action="">
    <!-- Nombre-Identificación de estanque -->

    <div>
        <div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Identificación del estanque</label>
        </div>

        <div>
            <input type="text" class="form-control" id="">
        </div>
    </div>

    <!-- Tipo de estanque -->
    <div>
        <label for="input" class="col-sm-2 col-form-label">Tipo de estanque</label>
        <select class="form-select" aria-label="Default select">
            <option selected="">Seleccione una opción</option>
            <option value="Reproductores">Estanque de reproductores</option>
            <option value="Desove">Estanque de desove</option>
            <option value="Incubadora">Incubadora</option>
            <option value="Larvicultura">Estanque de larvicultura</option>
            <option value="Alevinaje">Estanque de alevinaje</option>
            <option value="Captura">Estanque de captura</option>
            <option value="Profilaxis">Estanque de profilaxis</option>
            <option value="General">Estanque de manejo general</option>
        </select>
    </div>
    <!-- caracteristicas de estanque -->
    <div>
        <div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Material:</label>
            <input type="text" class="form-control" placeholder="Default Input">

        </div>

        <div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Área:</label>
            <input type="number" class="form-control" placeholder="Default Input">
        </div>

        <div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Profundidad:</label>
            <input type="text" class="form-control" placeholder="Default Input">
        </div>
    </div>



    <button type="submit" class="btn btn-primary">Registrar</button>

</form>