<div class="p-2">
    <!-- Estanque de larvicultura -->
    <div class="card p-2">
        <h4 class="fs-6">2. Nueva gestión de Estanque de larvicultura</h4>
        <label for="input" class="col-form-label">Seleccione el estanque de larvicultura</label>
        <select class="form-select" aria-label="Default select" name="idPond">
        <option selected="">Seleccione una opción</option>
        <%try{%>
        <% if (ponds){%>
        <% for( i=0; i<ponds.length; i++){%>
            <% if (ponds[i].typePond == 'Larvicultura'){%>
        <option value="<%=ponds[i]._id%>"><%=ponds[i].name%></option>
        <%}%>
        <%}%>
        <%}%>
        <%}catch(e){%>
            <option selected="">No cuenta con estanques</option>
            <%}%>
    </select>
        <div class="mb-2">
            <div>
                <label for="" class="col-form-label">Fecha de siembra</label>
            </div>
            <div>
                <input type="date" class="form-control" id="" , name="date">
            </div>
        </div>

        <div>
            <label for="">Larvas iniciales:</label>
            <input class="form-control" type="number" name="initialEggs">
        </div>

        <div>
            <label for="">Larvas finales:</label>
            <input class="form-control" type="number" name="fertileEggs">
        </div>

        <div>
            <label for="">Cantidad de alimento vivo suministrado:</label>
            <input class="form-control" type="number" name="hatchedEggs">
        </div>

        <input type="hidden" class="form-control" name="idBatche" value="<%=batche._id%>">
    </div>
</div>