<!-- Nombre-Identificación de estanque -->

<div class="mb-3">
    <div>
        <label for="" class="">Nombre o identificación del estanque</label>
    </div>

    <div>
        <input type="text" class="form-control" name="name">
    </div>
</div>

<!-- Tipo de estanque -->
<div class="mb-3">
    <label for="input" class="">Tipo de estanque</label>
    <select class="form-select" aria-label="Default select" name="typePond">
            <option selected="">Seleccione una opción</option>
            <option value="Reproductores">Estanque de reproductores</option>
            <option value="Desove">Estanque de desove</option>
            <option value="Incubadora">Incubadora</option>
            <option value="Larvicultura">Estanque de larvicultura</option>
            <option value="Alevinaje">Estanque de alevinaje</option>
            <option value="Captura">Estanque de captura</option>
            <option value="Profilaxis">Estanque de profilaxis</option>
            <option value="Ceba">Estanque de ceba</option>
            <option value="General">Estanque de uso general</option>
        </select>
</div>
<!-- caracteristicas de estanque -->
<div>
    <div class="mb-3">
        <label for="" class="">Material/descripción:</label>
        <input type="text" class="form-control" name="material" placeholder="">

    </div>

    <div class="mb-3">
        <label for="" class="">Área (m2):</label>
        <input type="number" class="form-control" name="area" placeholder="">
    </div>

    <div class="mb-3">
        <label for="" class="">Profundidad (m):</label>
        <input type=number step=any class="form-control" name="depth" placeholder="">
    </div>
</div>